# Biblioteca

In [834]:
import pandas as pd
import numpy as np

# Carregamento de dados

In [835]:
endereco = '../BaseDadosSelecionados/'
# endereco2 = 'Agrupado_Ocorrencia'
nomeArq = 'ES_datatran2019'

In [836]:
data = pd.read_csv(endereco + nomeArq + '.csv', encoding='ISO-8859-1', sep=';')

In [837]:
data.shape

(2842, 26)

# Remover atributos com dados NULOS

In [838]:
#Gera um arquivo .txt com a quantidade de atributos nulos por coluna
data.isnull().sum().to_csv('QtdNullAtributos_' + nomeArq + '.csv', sep=';')

In [839]:
data.isnull().sum()

id                        0
data_inversa              0
dia_semana                0
horario                   0
br                        0
km                        0
municipio                 0
causa_acidente            0
tipo_acidente             0
classificacao_acidente    0
fase_dia                  0
sentido_via               0
condicao_metereologica    0
tipo_pista                0
tracado_via               0
uso_solo                  0
pessoas                   0
mortos                    0
feridos_leves             0
feridos_graves            0
ilesos                    0
ignorados                 0
feridos                   0
veiculos                  0
latitude                  0
longitude                 0
dtype: int64

In [840]:
data.shape

(2842, 26)

In [841]:
data.dropna(inplace=True)

In [842]:
data.shape

(2842, 26)

In [843]:
data.isnull().sum()

id                        0
data_inversa              0
dia_semana                0
horario                   0
br                        0
km                        0
municipio                 0
causa_acidente            0
tipo_acidente             0
classificacao_acidente    0
fase_dia                  0
sentido_via               0
condicao_metereologica    0
tipo_pista                0
tracado_via               0
uso_solo                  0
pessoas                   0
mortos                    0
feridos_leves             0
feridos_graves            0
ilesos                    0
ignorados                 0
feridos                   0
veiculos                  0
latitude                  0
longitude                 0
dtype: int64

# Numerar coluna uso_solo (Binário)

In [844]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2842 entries, 0 to 2841
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2842 non-null   float64
 1   data_inversa            2842 non-null   object
 2   dia_semana              2842 non-null   object
 3   horario                 2842 non-null   object
 4   br                      2842 non-null   float64
 5   km                      2842 non-null   object
 6   municipio               2842 non-null   object
 7   causa_acidente          2842 non-null   object
 8   tipo_acidente           2842 non-null   object
 9   classificacao_acidente  2842 non-null   object
 10  fase_dia                2842 non-null   object
 11  sentido_via             2842 non-null   object
 12  condicao_metereologica  2842 non-null   object
 13  tipo_pista              2842 non-null   object
 14  tracado_via             2842 non-null   object
 15  uso_solo                2842 non-null   object
 16  pessoas                 2842 non-null   int64
 17  mortos                  2842 non-null   int64
 18  feridos_leves           2842 non-null   int64
 19  feridos_graves          2842 non-null   int64
 20  ilesos                  2842 non-null   int64
 21  ignorados               2842 non-null   int64
 22  feridos                 2842 non-null   int64
 23  veiculos                2842 non-null   int64
 24  latitude                2842 non-null   object
 25  longitude               2842 non-null   object
dtypes: float64(2), int64(8), object(16)
memory usage: 599.5+ KB

In [845]:
data['uso_solo'].value_counts()

Sim    1542
Não    1300
Name: uso_solo, dtype: int64

In [846]:
data['uso_solo'] = data['uso_solo'].astype('category')

In [847]:
# Transforma as strings em dados numéricos (preservando a categoria)
data['uso_solo'] = data['uso_solo'].cat.codes

In [848]:
# data.info()

In [849]:
data['uso_solo'].value_counts()

1    1542
0    1300
Name: uso_solo, dtype: int64

# Mudança da vírgula para ponto em latitude e longitude

In [850]:
# data["latitude"] = data["latitude"].astype(str)
data["latitude"] = data["latitude"].replace(',', '.', regex=True, inplace=True)
# .replace('#', '.')
# data["latitude"] = data["latitude"].astype('float64')

In [851]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2842 entries, 0 to 2841
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2842 non-null   float64
 1   data_inversa            2842 non-null   object
 2   dia_semana              2842 non-null   object
 3   horario                 2842 non-null   object
 4   br                      2842 non-null   float64
 5   km                      2842 non-null   object
 6   municipio               2842 non-null   object
 7   causa_acidente          2842 non-null   object
 8   tipo_acidente           2842 non-null   object
 9   classificacao_acidente  2842 non-null   object
 10  fase_dia                2842 non-null   object
 11  sentido_via             2842 non-null   object
 12  condicao_metereologica  2842 non-null   object
 13  tipo_pista              2842 non-null   object
 14  tracado_via             2842 non-null   object
 15  uso_solo                2842 non-null   int8
 16  pessoas                 2842 non-null   int64
 17  mortos                  2842 non-null   int64
 18  feridos_leves           2842 non-null   int64
 19  feridos_graves          2842 non-null   int64
 20  ilesos                  2842 non-null   int64
 21  ignorados               2842 non-null   int64
 22  feridos                 2842 non-null   int64
 23  veiculos                2842 non-null   int64
 24  latitude                2842 non-null   object
 25  longitude               2842 non-null   object
dtypes: float64(2), int64(8), int8(1), object(15)
memory usage: 580.1+ KB

In [852]:
# data["latitude"] = [x.replace(",", ".") for x in data["longitude"]]

# Salvando o dataframe

In [853]:
data.to_csv( '../BaseDadosSelecionados/' + nomeArq + '_Organizado.csv', encoding='ISO-8859-1', sep=';', index=False)