# 1 - Limpa e organiza o dataset
1º Algorimto a ser executado após os filtros - Limpando e organizando o dataset.

# Biblioteca

In [206]:
import pandas as pd
import numpy as np

# Carregamento de dados

In [207]:
endereco = '../BaseDadosSelecionados/'
# endereco2 = 'Agrupado_Ocorrencia'
nomeArq = 'ES_datatran2020'

In [208]:
data = pd.read_csv(endereco + nomeArq + '.csv', encoding='ISO-8859-1', sep=';')

In [209]:
data.shape

(2268, 26)

# Remover atributos com dados NULOS

In [210]:
#Gera um arquivo .txt com a quantidade de atributos nulos por coluna
data.isnull().sum().to_csv('QtdNullAtributos_' + nomeArq + '.csv', sep=';')

In [211]:
# data.isnull().sum()

In [212]:
data.shape

(2268, 26)

In [213]:
data.dropna(inplace=True)

In [214]:
data.shape

(2268, 26)

In [215]:
# data.isnull().sum()

# Verificação de tipos

In [216]:
data.dtypes

id                        float64
data_inversa               object
dia_semana                 object
horario                    object
br                        float64
km                         object
municipio                  object
causa_acidente             object
tipo_acidente              object
classificacao_acidente     object
fase_dia                   object
sentido_via                object
condicao_metereologica     object
tipo_pista                 object
tracado_via                object
uso_solo                   object
pessoas                     int64
mortos                      int64
feridos_leves               int64
feridos_graves              int64
ilesos                      int64
ignorados                   int64
feridos                     int64
veiculos                    int64
latitude                   object
longitude                  object
dtype: object

# Mudança dos dados para o tipo numérico - (Não está sendo utilizado)

In [217]:
# listMudanca = ['dia_semana', 'classificacao_acidente', 'fase_dia', 'sentido_via', 'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo']

In [218]:
# index = 1
# for i in listMudanca:
#     print("INDEX: {}".format(index))
#     print("*** ANTES ***")
#     print(data[i].value_counts())
#     data[i] = data[i].astype('category')

#     # Transforma as strings em dados numéricos (preservando a categoria)
#     data[i] = data[i].cat.codes
#     print('=================================')
#     print("*** DEPOIS ***")
#     print(data[i].value_counts())
#     print('================================================')
#     print('\n')
#     index+=1

## Modelo individual

In [219]:
# data['classificacao_acidente'].value_counts()

In [220]:
# data['classificacao_acidente'] = data['classificacao_acidente'].astype('category')

# # Transforma as strings em dados numéricos (preservando a categoria)
# data['classificacao_acidente'] = data['classificacao_acidente'].cat.codes

In [221]:
# data['classificacao_acidente'].value_counts()

# Mudança da vírgula para ponto em latitude e longitude

In [222]:
listCol = ['br', 'km', 'latitude', 'longitude']
for i in listCol:
    data[i] = data[i].astype(str)
    data[i] = data[i].str.replace(',', '.')

In [223]:
data.head(5)

,id,data_inversa,dia_semana,horario,br,km,municipio,causa_acidente,tipo_acidente,classificacao_acidente,...,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude
0,260133.0,2020-01-01,quarta-feira,12:30:00,101.0,102.3,SOORETAMA,Ultrapassagem Indevida,Colisão frontal,Com Vítimas Feridas,...,2,0,0,1,1,0,1,2,-18.99655669,-40.00319452
1,260206.0,2020-01-01,quarta-feira,17:30:00,101.0,431,ATILIO VIVACQUA,Defeito Mecânico no Veículo,Saída de leito carroçável,Sem Vítimas,...,1,0,0,0,1,0,0,1,-21.02634744,-41.16929054
2,260244.0,2020-01-01,quarta-feira,21:40:00,447.0,12,VILA VELHA,Falta de Atenção do Pedestre,Atropelamento de Pedestre,Com Vítimas Feridas,...,2,0,2,0,0,0,2,1,-20.35784325,-40.3328294
3,260276.0,2020-01-02,quinta-feira,06:25:00,262.0,1.8,CARIACICA,Falta de Atenção à Condução,Colisão lateral,Com Vítimas Feridas,...,2,0,0,1,1,0,1,2,-20.33295742,-40.35887718
4,260290.0,2020-01-02,quinta-feira,06:20:00,259.0,25.1,COLATINA,Falta de Atenção à Condução,Tombamento,Com Vítimas Feridas,...,1,0,1,0,0,0,1,1,-19.61785197,-40.48108118

# Ordenar dataset de acordo com o 'data_inversa'

In [224]:
# Converte as datas para Datetime
data['data_inversa'] = pd.to_datetime(data['data_inversa'])

In [225]:
# Ordena pela data e salva em um novo DataFrame
data = data.sort_values(by='data_inversa')

# Salvando o dataframe

In [226]:
data.to_csv( '../BaseDadosSelecionados/' + nomeArq + '_Organizado.csv', encoding='ISO-8859-1', sep=';', index=False)