# 1 - Limpa e organiza o dataset
1º Algorimto a ser executado após os filtros - Limpando e organizando o dataset.

# Biblioteca

In [490]:
import pandas as pd
import numpy as np

# Carregamento de dados

In [491]:
endereco = '../BaseDadosSelecionados/'
# endereco2 = 'Agrupado_Ocorrencia'
nomeArq = 'ES_datatran2020'

In [492]:
data = pd.read_csv(endereco + nomeArq + '.csv', encoding='ISO-8859-1', sep=';')

In [493]:
data.shape

(2268, 26)

# Remover atributos com dados NULOS

In [494]:
#Gera um arquivo .txt com a quantidade de atributos nulos por coluna
data.isnull().sum().to_csv('QtdNullAtributos_' + nomeArq + '.csv', sep=';')

In [1]:
# data.isnull().sum()

In [496]:
data.shape

(2268, 26)

In [497]:
data.dropna(inplace=True)

In [498]:
data.shape

(2268, 26)

In [499]:
# data.isnull().sum()

# Verificação de tipos

In [500]:
data.dtypes

id                        float64
data_inversa               object
dia_semana                 object
horario                    object
br                        float64
km                         object
municipio                  object
causa_acidente             object
tipo_acidente              object
classificacao_acidente     object
fase_dia                   object
sentido_via                object
condicao_metereologica     object
tipo_pista                 object
tracado_via                object
uso_solo                   object
pessoas                     int64
mortos                      int64
feridos_leves               int64
feridos_graves              int64
ilesos                      int64
ignorados                   int64
feridos                     int64
veiculos                    int64
latitude                   object
longitude                  object
dtype: object

# Ordenar dataset de acordo com o data_inversa

In [501]:
# Converte as datas para Datetime
# data['data_inversa'] = pd.to_datetime(data['data_inversa'])

In [502]:
# Ordena pela data e salva em um novo DataFrame
# data = data.sort_values(by='data_inversa', inplace=True)

# Mudança dos dados para o tipo numérico

In [503]:
listMudanca = ['dia_semana', 'classificacao_acidente', 'fase_dia', 'sentido_via', 'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo']

In [504]:
index = 1
for i in listMudanca:
    print("INDEX: {}".format(index))
    print("*** ANTES ***")
    print(data[i].value_counts())
    data[i] = data[i].astype('category')

    # Transforma as strings em dados numéricos (preservando a categoria)
    data[i] = data[i].cat.codes
    print('=================================')
    print("*** DEPOIS ***")
    print(data[i].value_counts())
    print('================================================')
    print('\n')
    index+=1

INDEX: 1
*** ANTES ***
sábado           372
sexta-feira      367
domingo          347
segunda-feira    312
quarta-feira     306
quinta-feira     304
terça-feira      260
Name: dia_semana, dtype: int64
=================================
*** DEPOIS ***
5    372
4    367
0    347
3    312
1    306
2    304
6    260
Name: dia_semana, dtype: int64
================================================


INDEX: 2
*** ANTES ***
Com Vítimas Feridas    1891
Sem Vítimas             267
Com Vítimas Fatais      110
Name: classificacao_acidente, dtype: int64
=================================
*** DEPOIS ***
1    1891
2     267
0     110
Name: classificacao_acidente, dtype: int64
================================================


INDEX: 3
*** ANTES ***
Pleno dia      1216
Plena Noite     820
Anoitecer       147
Amanhecer        85
Name: fase_dia, dtype: int64
=================================
*** DEPOIS ***
3    1216
2     820
1     147
0      85
Name: fase_dia, dtype: int64
================================================


INDEX: 4
*** ANTES ***
Crescente      1277
Decrescente     991
Name: sentido_via, dtype: int64
=================================
*** DEPOIS ***
0    1277
1     991
Name: sentido_via, dtype: int64
================================================


INDEX: 5
*** ANTES ***
Céu Claro           1235
Nublado              493
Chuva                274
Sol                  193
Garoa/Chuvisco        50
Ignorado              12
Nevoeiro/Neblina      11
Name: condicao_metereologica, dtype: int64
=================================
*** DEPOIS ***
1    1235
5     493
0     274
6     193
2      50
3      12
4      11
Name: condicao_metereologica, dtype: int64
================================================


INDEX: 6
*** ANTES ***
Simples     1259
Dupla        643
Múltipla     366
Name: tipo_pista, dtype: int64
=================================
*** DEPOIS ***
2    1259
0     643
1     366
Name: tipo_pista, dtype: int64
================================================


INDEX: 7
*** ANTES ***
Reta                     1302
Curva                     407
Interseção de vias        198
Não Informado             187
Desvio Temporário          64
Retorno Regulamentado      43
Rotatória                  33
Ponte                      16
Viaduto                    16
Túnel                       2
Name: tracado_via, dtype: int64
=================================
*** DEPOIS ***
5    1302
0     407
2     198
3     187
1      64
6      43
7      33
9      16
4      16
8       2
Name: tracado_via, dtype: int64
================================================


INDEX: 8
*** ANTES ***
Sim    1145
Não    1123
Name: uso_solo, dtype: int64
=================================
*** DEPOIS ***
1    1145
0    1123
Name: uso_solo, dtype: int64
================================================

## Modelo individual

In [505]:
# data['classificacao_acidente'].value_counts()

In [506]:
# data['classificacao_acidente'] = data['classificacao_acidente'].astype('category')

# # Transforma as strings em dados numéricos (preservando a categoria)
# data['classificacao_acidente'] = data['classificacao_acidente'].cat.codes

In [507]:
# data['classificacao_acidente'].value_counts()

# Mudança da vírgula para ponto em latitude e longitude

In [508]:
data["br"] = data["br"].astype(str)
data["km"] = data["km"].astype(str)
data["latitude"] = data["latitude"].astype(str)
data["longitude"] = data["longitude"].astype(str)

# data["latitude"] = [x.replace(',', '.') for x in data["latitude"]]
# data["latitude"] = data["latitude"].astype(float)
data["br"] = data["br"].str.replace(',', '.')
data["km"] = data["km"].str.replace(',', '.')

data["latitude"] = data["latitude"].str.replace(',', '.')
data["longitude"] = data["longitude"].str.replace(',', '.')

In [509]:
# data.head(5)

# Salvando o dataframe

In [510]:
data.to_csv( '../BaseDadosSelecionados/' + nomeArq + '_OrganizadoTeste.csv', encoding='ISO-8859-1', sep=';', index=False)