# 1 - Limpa e organiza o dataset
1º Algorimto a ser executado após os filtros - Limpando e organizando o dataset.

# Biblioteca

In [23]:
import pandas as pd
import numpy as np

# Carregamento de dados

In [24]:
anoArq = '2016'

In [25]:
endereco = '../BaseDadosSelecionados/'
# endereco2 = 'Agrupado_Ocorrencia'
nomeArq = 'ES_datatran'+ anoArq

In [26]:
data = pd.read_csv(endereco + nomeArq + '.csv', encoding='ISO-8859-1', sep=';')

In [27]:
data.shape

(3004, 26)

# Remover atributos com dados NULOS

In [28]:
#Gera um arquivo .txt com a quantidade de atributos nulos por coluna
data.isnull().sum().to_csv('QtdNullAtributos_' + nomeArq + '.csv', sep=';')

In [29]:
# data.isnull().sum()

In [30]:
data.shape

(3004, 26)

In [31]:
data.dropna(inplace=True)

In [32]:
data.shape

(3003, 26)

In [33]:
# data.isnull().sum()

# Verificação de tipos

In [34]:
data.dtypes

id                          int64
data_inversa               object
dia_semana                 object
horario                    object
br                        float64
km                         object
municipio                  object
causa_acidente             object
tipo_acidente              object
classificacao_acidente     object
fase_dia                   object
sentido_via                object
condicao_metereologica     object
tipo_pista                 object
tracado_via                object
uso_solo                   object
pessoas                     int64
mortos                      int64
feridos_leves               int64
feridos_graves              int64
ilesos                      int64
ignorados                   int64
feridos                     int64
veiculos                    int64
latitude                   object
longitude                  object
dtype: object

# Mudança dos dados para o tipo numérico - (Não está sendo utilizado)

In [35]:
# listMudanca = ['dia_semana', 'classificacao_acidente', 'fase_dia', 'sentido_via', 'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo']

In [36]:
# index = 1
# for i in listMudanca:
#     print("INDEX: {}".format(index))
#     print("*** ANTES ***")
#     print(data[i].value_counts())
#     data[i] = data[i].astype('category')

#     # Transforma as strings em dados numéricos (preservando a categoria)
#     data[i] = data[i].cat.codes
#     print('=================================')
#     print("*** DEPOIS ***")
#     print(data[i].value_counts())
#     print('================================================')
#     print('\n')
#     index+=1

## Modelo individual

In [37]:
# data['classificacao_acidente'].value_counts()

In [38]:
# data['classificacao_acidente'] = data['classificacao_acidente'].astype('category')

# # Transforma as strings em dados numéricos (preservando a categoria)
# data['classificacao_acidente'] = data['classificacao_acidente'].cat.codes

In [39]:
# data['classificacao_acidente'].value_counts()

# Mudança da vírgula para ponto em latitude e longitude

In [40]:
listCol = ['br', 'km', 'latitude', 'longitude']
for i in listCol:
    data[i] = data[i].astype(str)
    data[i] = data[i].str.replace(',', '.')

In [41]:
data.head(5)

,id,data_inversa,dia_semana,horario,br,km,municipio,causa_acidente,tipo_acidente,classificacao_acidente,...,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude
0,102,2017-01-01,domingo,08:30:00,101.0,186.2,ARACRUZ,Falta de Atenção à Condução,Saída de leito carroçável,Sem Vítimas,...,1,0,0,0,1,0,0,1,-19.67777168,-40.26775181
1,144,2017-01-01,domingo,13:00:00,262.0,2.2,CARIACICA,Falta de Atenção à Condução,Colisão lateral,Com Vítimas Feridas,...,3,0,1,0,2,0,1,2,-20.36742859,-40.44379056
2,165,2017-01-01,domingo,15:15:00,262.0,174.3,IBATIBA,Falta de Atenção à Condução,Tombamento,Com Vítimas Feridas,...,2,0,2,0,0,0,2,1,-20.27113451,-41.62388474
3,195,2017-01-01,domingo,16:50:00,101.0,321,GUARAPARI,Ingestão de Álcool,Colisão transversal,Com Vítimas Feridas,...,3,0,1,0,2,0,1,2,-20.52170405,-40.4783535
4,197,2017-01-01,domingo,16:55:00,101.0,280.3,SERRA,Defeito Mecânico no Veículo,Colisão traseira,Com Vítimas Feridas,...,3,0,0,2,1,0,2,2,-20.22512156,-40.36140691

# Ordenar dataset de acordo com o 'data_inversa'

In [42]:
# Converte as datas para Datetime
data['data_inversa'] = pd.to_datetime(data['data_inversa'])

In [43]:
# Ordena pela data e salva em um novo DataFrame
data = data.sort_values(by='data_inversa')

# Salvando o dataframe

In [44]:
endereco2 = 'PorAno/'
# endereco2 = 'PorData/'

In [45]:
data.to_csv( '../BaseDadosSelecionados/'+endereco2 + nomeArq + '_Organizado.csv', encoding='ISO-8859-1', sep=';', index=False)